.MuiButtonBase-root.brandIcons {
  margin: 0;
  background-color: var(--blue-color);
  color: white;
  max-width: 100px;
  width: 100px;
  max-height: 100px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s filter ease-in-out;
  font-size: 13px;
  text-transform: capitalize;
}
.MuiButtonBase-root.brandIcons:hover {
  background-color: var(--blue-color);
}
.beverageWrapper {
  height: 100vh;
}
.beverageContainer {
  height: 100vh;
}
.beverageBrandWrapper {
  margin: 30px;
}

.MuiButtonBase-root.brandIcons.brandImg {
  padding: 0;
  margin: 5px;
}

.MuiButtonBase-root.brandIcons.brandImg.selected {
  border-color: var(--primary-color);
  border-width: 5px;
  border-style: solid;
  filter: brightness(115%);
}
.brandImg img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
}

.beverageBrandWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.backBtn.MuiButton-root {
  padding-left: 5px;
  background-color: var(--green-color);
}

.backBtn.MuiButton-root:hover {
  background-color: var(--green-color);
}
.beverageDivider {
  border-right: 2px solid var(--green-color);
}
.left-container {
  padding: 50px 0px;
}
